    <div id='header'>
      <img height='50' src='../images/try-redis-500x50.png' width='500'>
    </div>
    <div id='log'>
      <div class='line notification'>
        <p>欢迎来到 <strong>Try Git</strong>, 这是依据git pro的互动版
        <a href="http://monokeros.github.io">Git</a> !</p>
        
        <p>请点击 <a href="#run">GIT PRO</a> 获得开始教程, <a href="#run">GIT HELP</a>
        commands, or any valid Redis command to play with the database.</p>
      </div>
    </div>
    <div id='toolbar'>
      <input id='input' spellcheck='false'>
    </div>
    <div id='footer'>
      <p>monokeros开发的哈
      (<a href="http://monokeros.github.io">github</a>
       <a href="https://twitter.com/alexmchale">twitter</a>)
      and 受启发于 <a href="http://try.mongodb.org">Try Mongo</a>.
      目前是测试版
      (<a href="https://github.com/badboy">github</a>
        <a href="https://twitter.com/badboy_">twitter</a>)</p>
      
      <p>The source code to Try Git is available on
      <a href="http://github.com/badboy/try.redis">GitHub</a>.</p>
    </div>
    <script src='../javascripts/jquery.min.js' type='application/x-javascript'></script>
    <script src='../javascripts/underscore-min.js' type='application/x-javascript'></script>
    <script src='../javascripts/json2.js' type='application/x-javascript'></script>
    <script src='../javascripts/terminal.js' type='application/x-javascript'></script>
